table {
    width: 100%;
}

.mat-header-row {
    height: unset;

    .mat-header-cell {
        padding-block: 10px;

        &:first-of-type {
            padding-left: 20px;
        }

        &:last-of-type {
            padding-right: 20px;
        }
    }
}

// to allow ripple effect to extend beyond the cell
.mat-column-select {
    overflow: initial;
}

// add line to column between select and position
.mat-column-select {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-position {
    padding-left: 16px;
    font-size: 20px;
}

// add hover
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-column-more {
    &__footer {
        text-align: center;
    }
}
